<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SPARQLEndPoint" value="https://staging-profiles.umassmed.edu/ProfilesSPARQLAPI/ProfilesSPARQLAPI.svc/Search" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Login.PresentationXML" value="ShibbolethLoginPresentation" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.Enabled" value="0" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.PathToProfiles" value="https://staging-profiles.umassmed.edu" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.ClientID" value="__ORCIDClientID__" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.ClientSecret" value="__ORCIDClientSecret__" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="GoogleMapsKey" value="__GoogleMapsKey__" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.ORCID_API_URL" value="https://api.sandbox.orcid.org" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.ORCID_URL" value="https://sandbox.orcid.org" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.WebAppURL" value="https://staging-profiles.umassmed.edu/ORCID/" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ProfilesImageStorageURL" value=""/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ProfilesImageStorageName" value=""/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Shibboleth.LoginURL" value="https://staging-profiles.umassmed.edu/Shibboleth.sso/Login?" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Shibboleth.LogoutURL" value="https://staging-profiles.umassmed.edu/Shibboleth.sso/Logout?" />
    <!--<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Shibboleth.ShibIdentityProvider" value="https://idcs-2a557cb7df984c749b9334fceebc32cf.identity.oraclecloud.com:443/fed/" />-->
	<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Shibboleth.ShibIdentityProvider" value="https://idcs-ace5dca848e544afa30cfeb801637a09.identity.oraclecloud.com:443/fed" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DEBUG" value="false" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="GoogleAnalytics.TrackingID" value="UA-91889623-1"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RichTextEditor.EditHTMLSource.Enable" value="false" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="ProfilesDB" connectionString="Data Source=umwazsqlprofile; Initial Catalog=ProfilesRNS; Integrated Security=true; Max Pool Size=1000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <ORNG xdt:Transform="Replace" Enabled="false" ShindigURL="https://staging-profiles.umassmed.edu/shindigorng" Features="container:views:rpc:jsonld:orng" TokenService="profileswebprd:8777" SocketPoolMin="3" SocketPoolMax="10" SocketPoolExpire="1000" SocketReceiveTimeout="5000" SearchLimit="100" SandboxPassword="s1mp13" />
  <system.web>
    <compilation targetFramework="4.6.2" xdt:Transform="Replace" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	  <customErrors mode="Off" xdt:Transform="Replace">
	  </customErrors>
	  <compilation debug="true" targetFramework="4.6.2" xdt:Transform="Replace">
	  </compilation>
  </system.web>
  <system.webServer>
	<httpErrors errorMode="Detailed" xdt:Transform="Insert" />
    <rewrite>
      <rules>
        <clear xdt:Transform="Insert" />
        <rule xdt:Transform="Insert" name="2 to 2.9 (exact match search)" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="profiles/search" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="https://{HTTP_HOST}" />
        </rule>
        <rule xdt:Transform="Insert" name="2 to 2.9 (search)" stopProcessing="true">
          <match url="profiles/search(.+)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="https://{HTTP_HOST}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule xdt:Transform="Insert" name="2 to 2.9 (display)" stopProcessing="true">
          <match url="profiles/display/(.+)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="https://{HTTP_HOST}/display/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule xdt:Transform="Insert" name="Abuse User Agents Blocking" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="^.*(Rustbot).*$" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>