<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SPARQLEndPoint" value="https://profiles-dev.umassmed.edu/ProfilesSPARQLAPI/ProfilesSPARQLAPI.svc/Search" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Login.PresentationXML" value="LoginFormPresentation" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.Enabled" value="1" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.PathToProfiles" value="https://profiles-dev.umassmed.edu" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.ClientID" value="__ORCID.ClientID__" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.ClientSecret" value="a2c6d39b-4797-4133-85a9-c040dfac2ffc" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.ORCID_API_URL" value="https://api.sandbox.orcid.org" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.ORCID_URL" value="https://sandbox.orcid.org" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ORCID.WebAppURL" value="https://profiles-dev.umassmed.edu/ORCID/" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ProfilesImageStorageURL" value="https://profilesimageszimmelb.azureedge.net/UploadImage?code=cX06J2IBkBGPoh0sx6INTA7yMWL3MqnTYd1LWsImxbqhm5UD5kU43A=="/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ProfilesImageStorageName" value="Profiles"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Shibboleth.LoginURL" value="https://profiles-dev.umassmed.edu/Shibboleth.sso/Login?"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Shibboleth.LogoutURL" value="https://profiles-dev.umassmed.edu/Shibboleth.sso/Logout?"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DEBUG" value="true"/>
  </appSettings>
  <ORNG xdt:Transform="Replace" Enabled="false" ShindigURL="https://profiles-dev.umassmed.edu/shindigorng" Features="container:views:rpc:jsonld:orng" TokenService="profilesbetaweb:8777" SocketPoolMin="3" SocketPoolMax="10" SocketPoolExpire="1000" SocketReceiveTimeout="5000" SearchLimit="100" SandboxPassword="s1mp13" />
    <system.web>
    <compilation targetFramework="4.6.2" xdt:Transform="Replace" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <clear xdt:Transform="Insert" />
        <rule xdt:Transform="Insert" name="2 to 2.9 (exact match search)" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="profiles/search" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="https://{HTTP_HOST}" />
        </rule>
        <rule xdt:Transform="Insert" name="2 to 2.9 (search)" stopProcessing="true">
          <match url="profiles/search(.+)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="https://{HTTP_HOST}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule xdt:Transform="Insert" name="2 to 2.9 (display)" stopProcessing="true">
          <match url="profiles/display/(.+)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="https://{HTTP_HOST}/display/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule xdt:Transform="Insert" name="Abuse User Agents Blocking" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="^.*(Rustbot).*$|^.*(PetalBot).*$" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
